@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --color-primary: #333333;
  --color-white: #f2f2f2;
  --color-error: #e23737;
  --color-gray: #bfbfbf;
}

:root {
  --background: #f2f2f2;
  --foreground: #1f1f1f;
  --card: #f2f2f2;
  --card-foreground: #1f1f1f;
  --border: #d6d6d6;
  --input: #e6e6e6;
  --muted: #e8e8e8;
  --muted-foreground: #5e5e5e;
  --primary: #444444;
  --primary-foreground: #f2f2f2;
  --ring: #444444;
  --radius: 0.75rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html,
  body {
    @apply min-h-screen bg-background text-foreground;
  }
}
